@import url("nist.css");


.dropbtn {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.dropdown {
  position: fixed;
  display: inline-block;
  right: 20px;
  left: auto;
  width: auto;
  bottom: 20px;
  top: auto;
  height: auto;
  z-index: 400;
}

.dropdown-content {
  display: none;
  position: relative;
  background-color: #f1f1f1;
  min-width: 160px;
  max-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0px;
  left: auto;
  bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: Helvetica;
  font-size: smaller;
}

.dropdown-content h2 {
  color: #707070;
  font-size: smaller;
}

.dropdown-content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.dropdown-content li {
  float: left;
}

.dropdown-content li a {
  color: black;
/*   padding: 12px 16px; */
  text-decoration: none;
  display: block;
  border-bottom: 0px;
  text-align: center;
  padding-left: 6px;
  padding-right: 6px;
}

.dropdown-content hr {
  margin-left: -10px;
  width: 100%;
  margin-right: -10px;
}

.dropdown-content a:hover {text-decoration: underline;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: 'ButtonBorder';}

/* add menu styling for active variant */

/* note: li.ntd2d_modernize_sphinx doesn't reliably work with dotted names */

li[class~="ntd2d_modernize_sphinx"] {
  font-weight: bold;
}

li[class~="ntd2d_modernize_sphinx"] a:hover {
  text-decoration: none;
}
