include MANIFEST MANIFEST.in LICENSE.txt test.py INSTALLATION.txt README.txt CREDITS.txt TALKS.txt DISCLAIMER.txt

recursive-include documentation/ CHANGES README BUGS TODOLIST *.txt
recursive-include documentation/manual/ *.py *.txt *.html
include documentation/manual/fipy.pdf
include documentation/manual/api.pdf
include documentation/pycon2004/fipy.pdf

recursive-include examples *.py