include *.txt
# include MANIFEST MANIFEST.in *.txt

recursive-include documentation/ *.txt
recursive-include documentation/www/ *.html *.css *.gif *.png
include documentation/manual/fipy.pdf
include documentation/manual/reference.pdf
include documentation/pycon2004/fipy.pdf

recursive-include examples *.py *.msh *.gz
recursive-include fipy *.msh