graft .azure
graft .github
graft _setup
graft binder
graft docs
graft environments
graft examples
graft fipy

prune worktrees
prune docs/build
prune docs/source/pyplots
prune docs/source/generated
prune docs/source/tutorial/generated
prune examples/cahnHilliard/generated
prune examples/convection/generated
prune examples/diffusion/generated
prune examples/diffusion/steadyState/otherMeshes/generated
prune examples/flow/generated
prune examples/levelSet/generated
prune examples/phase/generated
prune examples/reactiveWetting/generated
prune examples/updating/generated
prune fipy/generated

global-exclude *.py[ocd]
global-exclude .ipynb_checkpoints

include *.rst *.txt *.yml *.py *.cfg


# # include MANIFEST MANIFEST.in *.rst

# recursive-include docs *.rst
# recursive-exclude examples *.png *.pdf
# recursive-exclude fipy *.png *.pdf

# recursive-include documentation/_build/html *.html *.css *.gif *.png
# include docs/_build/latex/fipy.pdf

# recursive-include examples *.py *.msh *.gz *.rst
# recursive-include fipy *.msh
# include versioneer.py
# include fipy/_version.py

# recursive-exclude worktrees
