channels:
  - conda-forge
dependencies:
  - python
  - numpy
  - scipy
  - matplotlib-base
  - future
  - packaging
  - mayavi
  - gmsh <4.0|>=4.5.2
  - pip
  - mpich
  - mpi4py
  # petsc >= 3.20.3 has parallel failures when running tests
  - petsc4py < 3.20.3
platforms:
  - linux-64
  - osx-64
  - osx-arm64
