@import url("nist.css");


.dropbtn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 400;
}

.dropdown {
  position: fixed;
  display: inline-block;
  right: 20px;
  left: auto;
  width: auto;
  bottom: 20px;
  top: auto;
  height: auto;
}

.dropdown-content {
  display: none;
  position: relative;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0px;
  left: auto;
  padding-left: 10px;
  padding-right: 10px;
  font-family: Helvetica;
  font-size: smaller;
}

.dropdown-content a {
  color: black;
/*   padding: 12px 16px; */
  text-decoration: none;
  display: block;
  border-bottom: 0px;
}

.dropdown-content hr {
  margin-left: -10px;
  width: 100%;
  margin-right: -10px;
}

.dropdown-content a:hover {background-color: #e0e0e0;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: 'ButtonBorder';}