<div class="ntd2dwrapper">
  <ul>
    <li class="ntd2d_latest"><a href="/fipy/en/latest/index.html">latest</a></li>



  </ul>
  <ul>
    <li class="ntd2d_issue1000-examples.diffusion.mesh1D_constrains_a_gradient_but_calls_it_a_flux"><a href="/fipy/en/issue1000-examples.diffusion.mesh1D_constrains_a_gradient_but_calls_it_a_flux/index.html">issue1000-examples.diffusion.mesh1D_constrains_a_gradient_but_calls_it_a_flux</a></li>

    <li class="ntd2d_master"><a href="/fipy/en/master/index.html">master</a></li>

  </ul>
</div>
