<div class="ntd2dwrapper">
  <ul>
    <li class="ntd2d_latest"><a href="/fipy/en/latest/index.html">latest</a></li>

    <li class="ntd2d_stable"><a href="/fipy/en/stable/index.html">stable</a></li>

    <li class="ntd2d_3.4.5"><a href="/fipy/en/3.4.5/index.html">3.4.5</a></li>

  </ul>
  <ul>
    <li class="ntd2d_benchmark_patched_2c7ac213b"><a href="/fipy/en/benchmark_patched_2c7ac213b/index.html">benchmark_patched_2c7ac213b</a></li>

    <li class="ntd2d_benchmark_patched_b873c7e3f"><a href="/fipy/en/benchmark_patched_b873c7e3f/index.html">benchmark_patched_b873c7e3f</a></li>

    <li class="ntd2d_harmonize_solvers"><a href="/fipy/en/harmonize_solvers/index.html">harmonize_solvers</a></li>

    <li class="ntd2d_issue997-incompatible_with_Python_3_12"><a href="/fipy/en/issue997-incompatible_with_Python_3_12/index.html">issue997-incompatible_with_Python_3_12</a></li>

    <li class="ntd2d_master"><a href="/fipy/en/master/index.html">master</a></li>

    <li class="ntd2d_test_push"><a href="/fipy/en/test_push/index.html">test_push</a></li>

  </ul>
</div>
